:root {
    --BackgroundColor: #3a5163;
    --TitleBackgroundColor: #2c3d4a;
    --TitleTextColor: #ffffff;
}

body {
    background-color: var(--BackgroundColor);
}

#Title {
    background-color: var(--TitleBackgroundColor);
    margin: 10%;
    padding: 5%;
}

#TitleText {
    color: var(--TitleTextColor);
}